---
import { Github, Instagram, Linkedin, Mail, Rss } from "lucide-astro";

import me from "@/assets/me.webp";

import info from "@/config/info.json";

const socials = [
  {
    name: "LinkedIn",
    href: "https://linkedin.com/in/pierrehoulliere",
    icon: Linkedin,
  },
  { name: "GitHub", href: "https://github.com/wiizzl", icon: Github },
  { name: "Instagram", href: "https://instagram.com/pierre.hlr_", icon: Instagram },
  { name: "Email", href: "mailto:contact@houlliere.com", icon: Mail },
  { name: "RSS Feed", href: "/posts/feed.xml", icon: Rss },
];
---

<header class="z-50 flex items-center justify-between rounded-lg border p-4">
  <div class="flex items-center gap-x-3">
    <a href="/">
      <img src={me.src} alt="PH" class="w-8 sm:w-10 rounded-full animate-heart" />
    </a>
    <div>
      <h1 class="font-semibold leading-5 sm:leading-7">{info.name}</h1>
      <p class="line-clamp-1 text-xs font-light">{info.description}</p>
    </div>
  </div>
  <div class="gap-x-2 flex">
    {
      socials.map((item) => (
        <a href={item.href} target="_blank">
          <item.icon class="size-4 sm:size-5 stroke-[1.8]" />
          <span class="sr-only">{item.name}</span>
        </a>
      ))
    }
  </div>
</header>
