---
import { ArrowUpRight } from "@lucide/astro";

import BaseLayout from "#/layouts/BaseLayout.astro";

import Link from "#/components/Link.astro";
import Title from "#/components/Title.astro";

import { CONSTS } from "#/consts";
---

<BaseLayout>
  <div class="border-b pb-8 md:pb-14">
    <Title>{CONSTS.title}</Title>
    <div class="max-w-3xl space-y-4">
      <p>Développeur freelance et étudiant en informatique basé sur {CONSTS.place}. J'aime partager mes expériences à travers <Link href="/blog">mon blog</Link>.</p>
      <p>
        J'ai remporté <Link href="https://worldskills-france.org/actualites/les-resultats-de-la-competition-nationale-des-metiers-2025" blank>la deuxième place</Link> en Développement Web lors des <Link
          href="https://worldskills-france.org/editions/competition-nationale-des-metiers-2025-48e-edition"
          blank>WorldSkills France 2025</Link
        >.
      </p>
      <p>
        Jetez un coup d'oeil à <Link href="/projects">mes projets</Link>, téléchargez mon <Link href="/resume" blank>CV</Link> ou <Link href={`mailto:${CONSTS.mail}`} anonymize>envoyez moi un email</Link>.
      </p>
    </div>
  </div>
  <div class="grid grid-cols-1 space-y-6 pt-8 md:grid-cols-2 md:pt-14">
    <div class="md:border-r md:pr-14">
      <Title>Contact</Title>
      <div class="flex flex-col">
        {
          CONSTS.links.map((link) => (
            <a href={link.url} target="_blank" class="flex items-center justify-between">
              <span class="flex items-center gap-x-1.5">
                <div class="p-1" style={`background-color: ${link.color};`} />
                {link.name}
              </span>
              <ArrowUpRight class="stroke-[1.1]" />
            </a>
          ))
        }
      </div>
    </div>
    <div class="md:pl-14">
      <Title>Expériences</Title>
      <div class="flex flex-col">
        {
          CONSTS.experiences.map((experience) => (
            <a href={experience.url} target="_blank" class="flex items-center justify-between">
              <span title={experience.description} class="flex items-center gap-x-1.5">
                <div class="p-1" style={`background-color: ${experience.color};`} />
                {experience.name}
              </span>
              <span class="text-sm">{experience.date}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
