---
import { ArrowUpRight } from "lucide-astro";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Link from "@/components/Link.astro";
import Title from "@/components/Title.astro";

import experiences from "@/config/experiences.json";
import info from "@/config/info.json";
---

<BaseLayout>
  <div class="border-b pb-8 md:pb-14">
    <Title number={1}>{info.name}</Title>
    <div class="max-w-2xl space-y-4">
      <p>Freelance developer and CS student based in Rouen, France. I enjoy sharing my experiences and insights through <Link href="/writing">writing</Link>.</p>
      <p>
        Take a look at some recent <Link href="/work">work</Link>, read my <Link href="/resume" blank>resume</Link> or <Link href={`mailto:${info.mail}`}>send me an email</Link>.
      </p>
    </div>
  </div>
  <div class="grid grid-cols-1 space-y-6 pt-8 md:grid-cols-2 md:pt-14">
    <div class="md:border-r md:pr-14">
      <Title number={2}>Contact</Title>
      <div class="flex flex-col">
        {
          info.socials.map((element) => (
            <a href={element.href} target="_blank" class="flex items-center justify-between">
              <span class="flex items-center gap-x-1.5">
                <div class="p-1" style={`background-color: ${element.color};`} />
                {element.name}
              </span>
              <ArrowUpRight class="stroke-[1.1]" />
            </a>
          ))
        }
      </div>
    </div>
    <div class="md:pl-14">
      <Title number={3}>Experience</Title>
      <div class="flex flex-col">
        {
          experiences.map((element) => (
            <a href={element.href} target="_blank" class="flex items-center justify-between">
              <span class="flex items-center gap-x-1.5">
                <div class="p-1" style={`background-color: ${element.color};`} />
                {element.name}
              </span>
              <span class="text-sm">{element.date}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
