---
import "@/styles/global.css";

import { CONSTS } from "@/consts";

interface Props {
  title?: string;
}

const { title } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL("og-image.png", Astro.url.origin);
const rssURL = new URL("rss.xml", Astro.site);
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="alternate" type="application/rss+xml" title={CONSTS.title} href={rssURL} />

    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={CONSTS.keywords.join(", ")} />
    <meta name="author" content={`${CONSTS.title}, ${CONSTS.mail}`} />
    <meta name="copyright" content={CONSTS.title} />
    <meta name="description" content={CONSTS.description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title || CONSTS.title} />
    <meta property="og:description" content={CONSTS.description} />
    <meta property="og:image" content={socialImageURL} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title || CONSTS.title} />
    <meta property="twitter:description" content={CONSTS.description} />
    <meta property="twitter:image" content={socialImageURL} />

    <title>
      {title ? title + " - " + CONSTS.title : CONSTS.title}
    </title>
  </head>
  <body class="selection:bg-primary/60 selection:text-accent-foreground antialiased">
    <main>
      <slot />
    </main>
  </body>
</html>
