---
import "../styles/global.css";

import info from "@/config/info.json";

interface Props {
  title?: string;
}

const { title } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={info.keywords} />
    <meta name="author" content={`${info.name}, ${info.mail}`} />
    <meta name="copyright" content={info.name} />
    <meta property="description" content={info.description} />
    <link rel="canonical" href={canonicalURL} />

    <meta name="og:title" content={info.name} />
    <meta name="og:description" content={info.description} />
    <meta name="og:url" content={canonicalURL} />
    <meta name="og:image" content={`${Astro.url.origin}/opengraph-image.png`} />
    <meta property="og:site_name" content={info.name} />
    <meta name="twitter:card" content="summary_large_image" />

    <title>{title ? title + " | " + info.name : info.name}</title>
  </head>
  <body class="antialiased selection:bg-primary selection:text-accent-foreground">
    <main class="pl-[10%] md:pl-[20%] pt-[8%]">
      <slot />
    </main>
  </body>
</html>
